<!-- Top Header -->
<header class="top-header d-flex align-items-center justify-content-between">

  <!-- LEFT -->
  <div class="d-flex align-items-center gap-3">

    <!-- Hamburger -->
  

    <button id="menuToggle" class="btn btn-light d-lg-none">
      <i class="bi bi-list fs-4"></i>
</button>
<button id="collapseSidebarBtn" class="btn btn-light d-none d-lg-inline-flex">
<i class="bi bi-layout-sidebar"></i>
</button>

    <!-- Search -->
    <div class="d-none d-md-block" style="width:320px;">
      <input
        type="text"
        class="form-control"
        placeholder="Search for anything..."
      />
    </div>
  </div>

  <!-- RIGHT -->
  <div class="d-flex align-items-center gap-3">

    <div class="position-relative">
      <i class="bi bi-bell fs-5"></i>
      <button class="btn btn-link text-decoration-none p-0" data-bs-toggle="dropdown">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          7
        </span>
      </button>
    </div>

    <div class="position-relative">
      <i class="bi bi-envelope fs-5"></i>
      <button class="btn btn-link text-decoration-none p-0" data-bs-toggle="dropdown">
       
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        3
      </span>
      </button>
    </div>

  </div>
</header>

<script>

document.addEventListener("click", function(e){

  /* MOBILE SIDEBAR */
  if(e.target.closest("#menuToggle")){
    const sidebar = document.querySelector("#sidebar");

    if(sidebar){
      sidebar.classList.toggle("show");
    }
  }

  /* COLLAPSE SIDEBAR */
  if(e.target.closest("#collapseSidebarBtn")){

    const sidebar = document.querySelector("#sidebar");

    if(!sidebar) return;

    sidebar.classList.toggle("collapsed");
    document.body.classList.toggle("sidebar-collapsed");

  }

});

</script>