<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">
        <i class="bi bi-mortarboard-fill me-2"></i> Student Portal
    </div>
    <div class="list-group list-group-flush">
        <a href="../student/dashboard.html" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </a>
        
        <a href="#academicsSubmenu" class="list-group-item list-group-item-action bg-dark text-light dropdown-toggle" data-bs-toggle="collapse">
            <i class="bi bi-book me-2"></i> Academics
        </a>
        <div class="collapse" id="academicsSubmenu">
            <a href="../student/academics/attendance.html" class="list-group-item list-group-item-action bg-dark text-secondary ps-5">Attendance</a>
            <a href="../student/academics/materials.html" class="list-group-item list-group-item-action bg-dark text-secondary ps-5">Materials</a>
            <a href="../student/academics/results.html" class="list-group-item list-group-item-action bg-dark text-secondary ps-5">Results</a>
        </div>

        <a href="../student/timetable/timetable.html" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-calendar-week me-2"></i> Timetable
        </a>

        <a href="../student/wallet/fees.html" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-wallet2 me-2"></i> Fees & Wallet
        </a>

        <a href="../student/campus-life/events.html" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-people me-2"></i> Campus Life
        </a>

        <a href="../student/digital-id.html" class="list-group-item list-group-item-action bg-dark text-light">
            <i class="bi bi-person-badge me-2"></i> Digital ID
        </a>
    </div>
</div>